@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

 nav{
  display: flex;
    justify-content: space-between;
    padding: 10px 60px;
    background-color: #2a607c;
    color: #ffffff;
    
}

nav .logo{
   font-weight: bold;
   padding: 10px;
   width: 30%;
   
}
nav .logo a{
   color: #F08800;
   font-size: 45px;   
}

nav .logo p{
   color:white;
   font-size: 15px;
   
} 

  .form-input h3 { 
    font-size: 20px;
    margin: 0;
    color: #F08800;
  }
 
  .form-input {
    border: 1px solid green;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: black;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px; 
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
  }
  
  .form-input1:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
  }
  .parent{
    height: 20vh;
    margin-bottom: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  
  .wrapper {
    background-color: #36b5cf;
    padding: 30px;
    width: 30%;
    margin: 0px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: 60px;
    margin-top: 50px;

  }
  
  .wrapper h3 {
    font-size:  25px;
    margin: 0;
  }
  .form-input:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
  }
  
  .wrapper button {
    background-color:  whitesmoke;  
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #ffffffbf
  
  }
  .wrapper2 {
    background-color:	#A0A0A0;
    padding: 30px;
    width: 30%;
    margin: 250px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: 60px;
    margin-top: 50px;

  }
  @media screen and (max-width: 575px) {
    


  
  
  

  
  
    
 
  
 

  


